.slicknav_menu{
    display:none;
}
@media screen and (max-width:1199px){
    .col-lg-0{
        display:none;
    }
}
@media screen and (max-width:857px){
    #menu{
        width:630px;
        margin:-40px;
    }
    #header .logo_main{
        display:none;
    }
    
}
@media screen and (max-width:768px) {
    
    #menu {
		display:none;
	}
	
	.slicknav_menu {
        display:block;
        background:linear-gradient(to right,red,yellow);
    }
    .slicknav_btn{
        background:linear-gradient(to left,red,yellow);
        float:left;
        position:relative;
        padding:10px 30px;
        
    }
    .slicknav_nav a{
        font-weight:bold;
    }
    .slicknav_nav a:hover{
        background:linear-gradient(to left,red,yellow);
        color:#000;
    }
#header .logo_main{
    display:block;
    position:absolute;
    font-weight:bold;
}

    #advertise{
        display:none;
        
    }
    
}
@media screen and (max-width:576px){
    #about_us .ab_col{
       text-align:center;
    }
    #location .loc_info{
        padding:0 2%;
    }
}
